# Node modules and dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables file (if you're using dotenv)
.env

# Built files or output folders
dist/
build/

# Editor and IDE-specific files
.vscode/
.idea/

# Logs
logs/
*.log*

# OS and system-specific files
.DS_Store
Thumbs.db
